/*
------------------------------------------------------
	Colores del docker-compose.yml
------------------------------------------------------
*/

.config #uno
{
    color:red;
}

.config #dos
{
    color:seagreen;
}

.config #tres
{
    color:royalblue;
}

.config #cuatro
{
    color:saddlebrown;
}

.config #cinco
{
    color:orangered;
}

.config #seis
{
    color:rgb(25, 92, 25);
}

.config #siete
{
    color:purple;
}

.config #ocho
{
    color:slategray;
}

.config #nueve
{
    color:navy;
}

.config pre{
    margin-bottom: -1.3%;
    font-weight: bold;
}

.config p{
    margin-bottom: -1.3%;
}
/* ------------------------------------ */