/*
------------------------------------------------------
	Estilos Generales
------------------------------------------------------
*/
html
{
	background-color: #BDC3C7 ;
}

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#cabecera_web
{
	background-color: #07F;
	width: 90%;
}

#cajaVideo
{
    text-align: center;   
}

section h2, footer h2, nav table a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

th
{
    padding-left: 122px;   
    text-align: center; 
}


/* FOTO CABECERA Y ARREGLOS DE MARGEN Y PADDING*/

figure#fotocabecera
{
	position: absolute;
	padding-top: 40px;
	top: 0; 
	left: 0;
	
}

h1
{
	padding-top:4%;
	
}

h4
{
	margin-top:-4%;
	
}

body header
{
	margin-bottom:-1%;

}

/* ******************************************** */



/*
------------------------------------------------------
	Header 
------------------------------------------------------
*/

header
{
	display: block;
    text-align: center;
}

header h4
{
    margin-left: 80%;
}

/*
------------------------------------------------------
	Navegacion 
------------------------------------------------------
*/

nav
{
	background-color: gold;
    border-style: solid;
    text-align: center;
    display: table;
    margin-left: 5%;
    width: 90%;
    text-align: right;
}


nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    /*
		Subraya el boton que quieras pulsar...
		border-bottom: 3px solid #760001;
	*/
	background-color: #fff;
}

/*
------------------------------------------------------
	Aside
------------------------------------------------------
*/

aside
{
	display: inline-block;
    position: relative;
	float: rigth;
	
	vertical-align: top;
    width: 235px;
	height: 235px;
	padding-top: 30px;
	margin: 10%;
    
    background-color: #706b64;
    box-shadow: 0px 3px 6px #1c1a19;
    border-radius: 5px;
    
    color: white;
    font-size: 0.9em;
	text-align: justify;
}

aside ul
{
    list-style-type: none;
}

/*
------------------------------------------------------
	Section // Article
------------------------------------------------------
*/

section
{
	float: left;
    width: 625px;
	
    margin-right: 15px;
	margin-left: 25px;
}

article
{
	background-color: #9D9B9A;
}


section p
{
    font-size: 0.8em;
}


/*
----------------------------------------------------------------------------------------------------------------------------
Colores:

Gris:  #9D9B9A

*/

